.admin-main-content {
    margin-top: 4rem;
    background-color: #fff;
    height: 100%;
    padding: 10rem;
}
.admin-container {
    background: #141f31;
    padding: 1rem 1rem;
    border-radius: 25px;
}
